@media only screen and (max-width: 600px) {
  /* //////////////////////////////////////////////////////////////////  */
  /* >>>>>>>>>>>>>>> HEADER <<<<<<<<<<<<<<<  */
  /* //////////////////////////////////////////////////////////////////  */
  .logo {
    font-size: 18px;
  }
  nav .bx {
    display: block;
    font-size: 25px;
    letter-spacing: 2px;
  }
  nav ul {
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 80px;
    transition: right 1s;
    z-index: 1;
  }
  nav ul li {
    display: block;
    margin: 25px;
    margin-bottom: 45px;
  }
  nav ul .bx {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  /* //////////////////////////////////////////////////////////////////  */
  /* >>>>>>>>>>>>>>> HOME SECTION <<<<<<<<<<<<<<<  */
  /* //////////////////////////////////////////////////////////////////  */
  .home-section {
    margin-bottom: 90px;
  }
  .home-section .home-details {
    margin-top: -58px;
  }
  .home-details h1 {
    font-size: 46px;
  }
  .home-details h3 {
    font-size: 28px;
    font-weight: 600;
  }
  .home-details p {
    font-size: 16px;
    line-height: 1;
    margin-top: 12px;
  }
  .profile-image {
    display: none;
  }
  /* //////////////////////////////////////////////////////////////////  */
  /* >>>>>>>>>>>>>>> MY-WORK SECTION <<<<<<<<<<<<<<<  */
  /* //////////////////////////////////////////////////////////////////  */
  .my-work-section {
    margin-bottom: 90px;
  }
  .my-work-title h1 {
    position: absolute;
    top: -2.3%;
    left: 11%;
    width: 220px;
    font-size: 26px;
    letter-spacing: 3px;
    font-weight: 600;
    text-align: center;
    transform: rotate(0deg);
  }
  .grid {
    width: 320px;
  }
  .tile-img {
    border-radius: 4px;
  }
  .grid-block {
    width: 100%;
    min-height: 11.25rem;
  }
  .image-grid {
    -webkit-transform: rotateX(0deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateZ(0deg);
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }

  /* //////////////////////////////////////////////////////////////////  */
  /* >>>>>>>>>>>>>>> ABOUT SECTION <<<<<<<<<<<<<<<  */
  /* //////////////////////////////////////////////////////////////////  */
  .about-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 10px 10%;
  }
  .about-description {
    border-radius: 10px;
    font-size: 24px;
  }
  .about-description h1 {
    font-size: 26px;
    letter-spacing: 3px;
    padding: 8px;
  }
  .about-description p {
    font-size: 16px;
    line-height: 1.7;
    margin-top: 15px;
  }
  .tab-titles {
    gap: 20px;
  }
  .tab-links {
    font-size: 16px;
    letter-spacing: 1px;
    margin-right: -3px;
  }
  .tab-contents ul li span {
    font-size: 14px;
  }

  /* //////////////////////////////////////////////////////////////////  */
  /* >>>>>>>>>>>>>>> SERVICES SECTION <<<<<<<<<<<<<<<  */
  /* //////////////////////////////////////////////////////////////////  */
  .services-section {
    padding: 10px 10%;
    margin-bottom: 90px;
  }
  .service-title {
    font-size: 26px;
    letter-spacing: 3px;
    margin-bottom: 22px;
  }
  .services-lists {
    grid-template-columns: 1fr;
    row-gap: 25px;
  }
  .services-list h2 {
    letter-spacing: 2px;
  }

  /* //////////////////////////////////////////////////////////////////  */
  /* >>>>>>>>>>>>>>> CONTACT SECTION <<<<<<<<<<<<<<<  */
  /* //////////////////////////////////////////////////////////////////  */
  .contact-section {
    grid-template-columns: 1fr;
  }
  .contact-title {
    font-size: 26px;
    letter-spacing: 3px;
    margin-top: 15px;
  }
  .social-media a {
    width: 33px;
    height: 33px;
    margin: 60px 15px 30px 0;
    font-size: 32px;
  }
  .btn-cv {
    margin-bottom: 30px;
  }
  /* //////////////////////////////////////////////////////////////////  */
  /* >>>>>>>>>>>>>>> FOOTER SECTION <<<<<<<<<<<<<<<  */
  /* //////////////////////////////////////////////////////////////////  */
  .copyright {
    font-size: 10px;
    padding: 20px;
  }
}
