/* //////////////////////////////////////////////////////////////////  */
/* >>>>>>>>>>>>>>> GLOBAL <<<<<<<<<<<<<<<  */
/* //////////////////////////////////////////////////////////////////  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  color: #fff;
}
body {
  background: #252020;
}
/* //////////////////////////////////////////////////////////////////  */
/* >>>>>>>>>>>>>>> HEADER <<<<<<<<<<<<<<<  */
/* //////////////////////////////////////////////////////////////////  */
header {
  width: 100%;
  background-size: cover;
  background-position: center;
}
.profile {
  display: none;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 25px 10%;
}
nav .bx {
  display: none;
}
.logo {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 3px;
  animation: slideRight 1s ease forwards;
  opacity: 0;
}
.logo-text {
  color: #ff004f;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
  cursor: pointer;
  letter-spacing: 2px;
  font-size: 16px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  position: relative;
  animation: slideTop 0.5s ease forwards;
  opacity: 0;
  animation-delay: calc(0.2s * var(--clr));
  transition: 0.5s ease;
}
nav ul li a:hover {
  color: #ff004f;
}
nav ul li a::after {
  content: "";
  width: 0;
  position: absolute;
  left: 0;
  bottom: -6px;
  border-bottom: 2px solid #fff;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* //////////////////////////////////////////////////////////////////  */
/* >>>>>>>>>>>>>>> HOME SECTION <<<<<<<<<<<<<<<  */
/* //////////////////////////////////////////////////////////////////  */
.home-section {
  width: 100%;
  height: calc(100vh - 58px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 10% 0;
  margin-bottom: 120px;
}
.home-section .home-details {
  max-width: 600px;
  margin-top: -58px;
}
.home-details h3 {
  font-size: 32px;
  font-weight: 700;
  animation: slideBottom 1s ease forwards;
  opacity: 0;
  animation-delay: 0.5s;
}
.home-details h3:nth-of-type(1) {
  margin-bottom: 10px;
  animation: slideTop 1s ease forwards;
  animation-delay: 1s;
}
.home-details span {
  color: #ff004f;
}
.home-details h1 {
  font-size: 56px;
  font-weight: 700;
  animation: slideRight 2s ease forwards;
  opacity: 0;
}
.home-details p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.7;
}
.profile-image img {
  width: 100%;
  max-width: 470px;
  border-radius: 25px;
  margin-top: -150px;
}
@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* //////////////////////////////////////////////////////////////////  */
/* >>>>>>>>>>>>>>> MY-WORK SECTION <<<<<<<<<<<<<<<  */
/* //////////////////////////////////////////////////////////////////  */
.my-work-section {
  margin-bottom: 40px;
  padding-top: 50px;
  position: relative;
}
.my-work-title h1 {
  position: absolute;
  top: 12%;
  left: 18%;
  width: 300px;
  font-size: 32px;
  letter-spacing: 12px;
  font-weight: 700;
  padding: 10px;
  text-align: center;
  padding-bottom: 20px;
  transform: rotate(-36deg);
  box-shadow: 0 5px 5px rgba(236, 56, 56, 0.3);
}
.grid {
  width: 100%;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
}
.grid-block {
  width: 50%;
  min-height: 11.25rem;
  padding: 1rem;
}
.image-grid {
  -webkit-transform: rotateX(45deg) rotateZ(45deg);
  transform: rotateX(45deg) rotateZ(45deg);
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
.tile-img {
  border-radius: 4px;
}
.image-grid .tile-link:hover .tile-img {
  top: -1rem;
  left: -1rem;
}
.image-grid .tile-img {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition-property: opacity, top, left, box-shadow;
  transition-property: opacity, top, left, box-shadow;
  opacity: 0.5;
  transition: 0.7s;
  cursor: pointer;
}
.tile-link {
  display: block;
}
.tile-link:hover .tile-img {
  opacity: 1;
}
.tile-link:hover .tile-img-link {
  display: block;
}
.tile-link:hover .tile-img-link:hover .tile-img {
  opacity: 0.5;
}
.tile-img {
  display: block;
  width: 100%;
  height: auto;
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.125s;
  transition-duration: 0.125s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.tile-link:hover .tile-img1 {
  box-shadow: 5px 5px rgba(253, 242, 233, 0.4),
    10px 10px rgba(253, 242, 233, 0.3), 15px 15px rgba(253, 242, 233, 0.2),
    20px 20px rgba(253, 242, 233, 0.1), 25px 25px rgba(253, 242, 233, 0.05);
}
.tile-link:hover .tile-img2 {
  box-shadow: 5px 5px rgba(50, 50, 50, 0.4), 10px 10px rgba(50, 50, 50, 0.3),
    15px 15px rgba(50, 50, 50, 0.2), 20px 20px rgba(50, 50, 50, 0.1),
    25px 25px rgba(50, 50, 50, 0.05);
}
.tile-link:hover .tile-img3 {
  box-shadow: 5px 5px rgba(251, 219, 137, 0.4),
    10px 10px rgba(244, 137, 130, 0.3), 15px 15px rgba(251, 219, 137, 0.2),
    20px 20px rgba(244, 137, 130, 0.1), 25px 25px rgba(251, 219, 137, 0.05);
}
.tile-link:hover .tile-img4 {
  box-shadow: 5px 5px rgba(138, 218, 245, 0.4),
    10px 10px rgba(138, 218, 245, 0.3), 15px 15px rgba(138, 218, 245, 0.2),
    20px 20px rgba(138, 218, 245, 0.1), 25px 25px rgba(138, 218, 245, 0.05);
}
.tile-link:hover .tile-img5 {
  box-shadow: 5px 5px rgba(144, 238, 144, 0.4),
    10px 10px rgba(144, 238, 144, 0.3), 15px 15px rgba(144, 238, 144, 0.2),
    20px 20px rgba(144, 238, 144, 0.1), 25px 25px rgba(144, 238, 144, 0.05);
}

/* //////////////////////////////////////////////////////////////////  */
/* >>>>>>>>>>>>>>> ABOUT SECTION <<<<<<<<<<<<<<<  */
/* //////////////////////////////////////////////////////////////////  */
.about-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 130px;
  padding: 10px 10%;
}
.about-description h1 {
  border: 2px solid #740e2e;
  border-radius: 10px;
  font-size: 24px;
  padding: 12px;
  margin-top: 0;
  width: 180px;
  text-align: center;
}
.about-description P {
  font-size: 16px;
  line-height: 1.7;
  margin-top: 20px;
  margin-bottom: 44px;
}
.about-tabs {
  position: relative;
}
.tab-titles {
  display: flex;
  gap: 33px;
}
.tab-links {
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  position: relative;
  cursor: pointer;
  letter-spacing: 2px;
  transition: 0.5s ease;
  animation: slide-in 1.5s ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}
.tab-contents {
  top: 100%;
  left: 0;
  width: 100%;
  height: 200px; /* Set the height of the container */
  padding-top: 20px;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.active-tab {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
.tab-links::after {
  content: "";
  width: 0;
  position: absolute;
  left: 0;
  bottom: -6px;
  border-bottom: 2px solid #ff004f;
  transition: 0.5s;
}
.tab-links:hover::after {
  width: 65%;
}
.tab-links.active-link::after {
  width: 65%;
}
.tab-contents {
  display: none;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
  font-size: 16px;
  line-height: 1.5;
}
.tab-contents ul li span {
  font-size: 16px;
  color: #b54769;
}
.tab-contents.active-tab {
  display: block;
}
@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.about-skills h1 {
  margin-top: 12px;
}
.skills-name {
  display: flex;
  margin-top: 15px;
  align-items: center;
}
.skills-name i {
  font-size: 35px;
  margin-right: 10px;
}
.skills-name p {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.4px;
}
.progress {
  width: 100%;
  height: 14px;
  background-color: #720628;
  border-radius: 10px;
}
.progress .progress-bar {
  width: 0%;
  opacity: 0;
  height: 100%;
  background-color: #15430d;
  border-radius: 10px;
  position: relative;
  transition: all 3s ease;
}
.progress span {
  position: absolute;
  top: 0;
  right: 0;

  padding-right: 7px;
}
.bxl-javascript {
  color: rgb(143, 143, 8);
}
.bxl-typescript {
  color: rgb(16, 16, 172);
}
.bxl-angular {
  color: rgb(195, 7, 7);
}
.bxl-html5 {
  color: rgb(195, 7, 7);
}
.bxl-tailwind-css {
  color: rgb(16, 16, 172);
}
.bxl-bootstrap {
  color: rgb(102, 9, 102);
}
.bxl-firebase {
  color: rgb(145, 83, 9);
}

/* //////////////////////////////////////////////////////////////////  */
/* >>>>>>>>>>>>>>> SERVICES SECTION <<<<<<<<<<<<<<<  */
/* //////////////////////////////////////////////////////////////////  */
.services-section {
  padding: 10px 10%;
  margin-bottom: 120px;
}
.services-lists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
}
.service-title {
  font-size: 26px;
  letter-spacing: 4px;
}
.list-description {
  font-size: 16px;
  margin-top: 40px;
}
.list-icon-title {
  display: flex;
  align-items: center;
  gap: 20px;
}
.list-icon-title i {
  font-size: 32px;
}
.list {
  width: 100%;
  height: auto;
  margin-top: 14px;

  border-radius: 12px;
  transition: ease-in-out 0.5s;
  position: relative;
}
.list:hover {
  transform: translateY(-12px);
  cursor: pointer;
}
.list img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  border-radius: 10px;
}
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  transition: height 0.9s;

  font-size: 12px;
  line-height: 1.7;
}
.list:hover .layer {
  height: 100%;
}
.list i {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 700;
}
.list h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 25px;
}
.service-text {
  margin-top: 30px;
}

/* //////////////////////////////////////////////////////////////////  */
/* >>>>>>>>>>>>>>> CONTACT SECTION <<<<<<<<<<<<<<<  */
/* //////////////////////////////////////////////////////////////////  */
.contact-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 10%;
}
.contact-left {
  flex-basis: 35%;
}
.contact-title {
  font-size: 26px;
  margin-top: 15px;
}
.contact-right {
  flex-basis: 60%;
}
.get-in-touch {
  margin-top: 12px;
  font-size: 26px;
}
.contact-left p {
  margin-top: 30px;
}
.contact-left p i {
  color: #ff004f;
  font-size: 25px;
}
.social-media a {
  display: inline-block;
  width: 42px;
  height: 42px;
  background: transparent;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  margin: 60px 15px 30px 0;
  transition: 0.5s ease;
  font-size: 42px;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--vlr));
  opacity: 0;
}
.social-media a:hover {
  color: #252020;
  box-shadow: 0 0 20px #ff004f;
}
.btn {
  display: inline-block;
  padding: 12px 28px;
  background: #ff004f;
  color: #fff;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 40px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  transition: 0.5 ease;
  cursor: pointer;
  animation: slideTop 2s ease forwards;
  opacity: 0;
}
.btn:hover {
  background: #252020;
  color: #ff004f;
  box-shadow: inset 0 0 0 1px #ff004f;
}

.btn:hover:not(:disabled) {
  background-color: #252020;
  color: #ff004f;
  box-shadow: inset 0 0 0 1px #ff004f;
}
.btn:disabled {
  background-color: #720628;
  color: #ccc;
  cursor: default;
}
.btn.disabled:hover {
  background-color: #720628;
  color: #ccc;
  box-shadow: none;
}
#the-count {
  float: right;
  font-size: 12px;
  margin-top: -7px;
}
.phone-number {
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px rgba(187, 11, 11, 0.3);
  padding: 7px 12px;
  width: 230px;
  border-radius: 10px;
}
.bx-phone {
  margin-right: 10px;
}
.email-adresse {
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px rgba(187, 11, 11, 0.3);
  padding: 7px 12px;
  width: 300px;
  border-radius: 10px;
}
.bx-send {
  margin-right: 10px;
}
.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #473d3d;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
form .btn-submit {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 5px;
}
#msg {
  color: #61b752;
  display: block;
  margin-top: 18px;
  font-size: 18px;
}
#nameError,
#emailError {
  color: #740e2e;
  font-size: 16px;
}
.error {
  border: 1px solid red;
}
#error {
  color: red;
  font-size: 0.8rem;
  margin-left: 5px;
}
.contacts {
  font-size: 18px;
}
.contacts a {
  text-decoration: none;
}
textarea {
  resize: vertical;
  width: 100%;
  min-height: 50px;
  max-height: 400px;
}
.scroll-up {
  position: relative;
}
#scroll-up-button {
  position: absolute;
  right: -80px;
  bottom: 20px;
  font-size: 44px;
  color: #ff004f;
}

/* .tooltip {
  display: none;
  position: absolute;
  background-color: #ff004f;
  color: #252020;
  font-weight: 700;
  padding: 10px;
  width: 120px;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
} */
#scroll-up-button:hover {
  cursor: pointer;
}
#scroll-up-button:hover .tooltip {
  display: block;
  cursor: pointer;
}

/* //////////////////////////////////////////////////////////////////  */
/* >>>>>>>>>>>>>>> FOOTER SECTION <<<<<<<<<<<<<<<  */
/* //////////////////////////////////////////////////////////////////  */
.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #473d3d;
  font-weight: 300;
  color: #fff;
}
.bxs-heart {
  color: #ff004f;
}
.footer-name {
  color: #ff004f;
  font-weight: 700;
}
